@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oleo+Script:wght@400;700&display=swap');
*{padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }
.container{
    background-image:url(image/86b640cad65adbfc15067b27b12deb58.jpg);
    height:100vh ;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.letter p{
    font-family: monospace;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    padding-top:20px;
}

.letter h1{
    font-family: monospace ;
    font-size:25px;
    color: white;
    text-align: center;

}



.button{
    font-family: "Acme", serif;
    color: white; 
    text-decoration: none;
     border: 1px solid black ;
      padding: 20px 20px;
       text-align: center;
    }
    
.button:hover{
     color: white;
    background-color:black ;
     text-decoration: none;
       padding: 20px 20px;
        text-align: center;
    }

    

.button1{                                                                                                   
    font-family: "Acme", serif;
    color: white; 
    text-decoration: none;
     border: 1px solid black ;
      padding: 20px 20px;
       text-align: center;
    }
    
.button1:hover{
     color: white;
    background-color:black ;
     text-decoration: none;
       padding: 20px 20px;
        text-align: center;
    }

    @media screen and (max-width:455px){
        .button1{
            padding: 20px 33px;
        }
        .container{
            height:155vh;
        }
    }